//- Micro-CSS overrides para correções de layout
mixin overrideStyles
  style.
    .kpi-value {
      letter-spacing: .2px;
    }
    .kpi-sm {
      font-size: .875rem;
    }
    .no-illustration {
      display: none;
    }
    .kpi-periodo {
      white-space: nowrap;
    }