extends ../../layouts/LayoutTheme

append content
  .container-xxl.px-3.px-md-4.my-4
    h4.mb-3 Marketing & Leads
    .alert.alert-info
      | Esta seção faz parte dos 5 Pilares do IA Bridge.
      | Os cards/embeds Metabase serão adicionados depois.